
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
</head>
<body>

    <a href="@Url.Action("Editar", "Fornecedor")">Editar Fornecedor</a>
    <a href="@Url.Action("Excluir", "Fornecedor")">Excluir Fornecedor</a>

    <br />
    <br />


    @{
        ViewBag.Title = "IndexWithWebGrid";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
        grid.Pager(WebGridPagerModes.All);
    }
    <style type="text/css">
        .webgrid-row-style {
            padding: 3px 7px 2px;
        }
    </style>
    <h2>Exibir</h2>
    <div id="webgrid">
        @grid.GetHtml(
          tableStyle: "table table-responsive table-striped table-bordered table-hover ",
          headerStyle: "wedgrid-header",
          footerStyle: "",
          rowStyle: "webgrid-row-style",
          columns: grid.Columns(
            grid.Column(columnName: "Nome", header: "Nome"),
            grid.Column(columnName: "Estado", header: "Estado"),
            grid.Column(columnName: "Cidade", header: "Cidade"),
            grid.Column(columnName: "Status", header: "Status"),
            grid.Column(columnName: "Demanda", header: "Demanda:"),
            grid.Column(columnName: "Vigencia", header: "Vigencia:"),
            grid.Column(columnName: "Demanda", header: "Demanda:"),
            grid.Column(columnName: "NomeContato", header: "Contato:"),
            grid.Column(columnName: "Email", header: "Email:"),
            grid.Column(columnName: "Telefone", header: "Telefone:")

          )
        )
    </div>



</body>
</html>
